#define IDI_ICON1 101
#define IDS_FRIENDLYAPPNAME 201
#define IDS_FRIENDLYTYPENAME 202

#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1 /*Defined manifest file*/
#define RT_MANIFEST                       24

#include <winver.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "../slidescape.exe.manifest"

IDI_ICON1   ICON  DISCARDABLE  "icon.ico"

STRINGTABLE
{
    IDS_FRIENDLYAPPNAME, "Slidescape"
    IDS_FRIENDLYTYPENAME, "Whole slide image"
}

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

#define VER_COMPANYNAME_STR         "Ectopic"
#define VER_FILEDESCRIPTION_STR     "Slidescape"
#define VER_FILEVERSION             0,39,0,0
#define VER_FILEVERSION_STR         "0.39"
#define VER_INTERNALNAME_STR        "slidescape.exe"
#define VER_LEGALCOPYRIGHT_STR      "(c) 2019-2021 Pieter Valkema"
#define VER_ORIGINALFILENAME_STR    "slidescape.exe"
#define VER_PRODUCTNAME_STR         "slidescape"
#define VER_PRODUCTVERSION          0,39,0,0
#define VER_PRODUCTVERSION_STR      "0.39"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       VER_DEBUG
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VER_COMPANYNAME_STR
            VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     VER_INTERNALNAME_STR
            VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
            VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
            VALUE "ProductName",      VER_PRODUCTNAME_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
